<!DOCTYPE html>
<html>
<head>
	<title>userlist</title>
</head>
<body>
	<h1>User List</h1>

	<!-- <a href="/home">Back</a> |
	<a href="/logout">logout</a> -->
		<% if (user == null) { %>
		<% include ../header/menu_unr.ejs %>
		<% } else if(user.designation == 'manager') { %>
		<%- include('../header/menu_manager.ejs',{user: user}) %>
		<% } else if(user.designation == 'Executive'){ %>
		<%- include('../header/menu_executive.ejs',{user: user}) %>
		<% } else if(user.designation == 'Alumni'){ %>
		<%- include('../header/menu_alumni.ejs',{user: user}) %>
		<% } else { %>
		<%- include('../header/menu_GM.ejs',{user: user}) %>
		<% } %>
<br><br>
	<table border="1">
		<tr>
			<td>User ID</td>
			<td>Name</td>
			<td>User Type</td>
			<td>Designation</td>
			<td>Contactnumber</td>
			<td>Email</td>
			<td>Salary</td>
			<td>ACTION</td>
			
		</tr>

	<% for(var i=0; i< user.length; i++){ %>
		<tr>
			<td><%= user[i].userid %></td>
			<td><%= user[i].name %></td>
			<td><%= user[i].usertype %></td>
			<td><%= user[i].designation %></td>
			<td><%= user[i].contactnumber %></td>
			<td><%= user[i].email %></td>
			<td><%= user[i].salary %></td>
			
			<td>
				<a href="/user/edit/<%= user[i].userid %>"> EDIT </a> | 
				<a href="/user/delete/<%= user[i].userid %>"> DELETE </a> | 
				<a href="/user/details/<%= user[i].userid %>"> Details </a>
			</td>
		</tr>

	<% } %>
	</table>
	<div style="overflow: hidden;margin-top: 1260px;"><% include ../footer/footer.ejs %></div>
</body>
</html>